body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
    background: linear-gradient(to bottom, #ccf3ff, #08aadb 50%, #5e7b53 50%, #17320d);
}

.spaceship-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    display: flex;
    width: fit-content;
    height: fit-content;
    /* transform: rotate(0deg); */
    transition: transform 0.1s ease;  /* Adjust duration as needed */
}

.front-wing__left {
    position: absolute;
    left: -9vw;
    top: .75vw;
    width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 1.5vw 2.5vw 9vw;
   border-color: transparent transparent #143e81 transparent;
   transform: rotate(65deg);
}

.front-wing__right {
    position: absolute;
    left: 3.5vw;
    top: .75vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9vw 2.5vw 1.5vw;
    border-color: transparent transparent #143e81 transparent;
    transform: rotate(-65deg);
}

.back-wing__left {
    position: absolute;
    left: -16vw;
    top: 5.7vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5vw 2.5vw 9vw;
    border-color: transparent transparent #ccc transparent;
    transform: rotate(-27deg);
    box-shadow: 0 1px 0 0 #555;
    box-shadow: 0 2px 0 0 #55555580;
}

.back-wing__right {
    position: absolute;
    left: 7vw;
    top: 5.7vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 9vw 2.5vw 5vw;
    border-color: transparent transparent #ccc transparent;
    transform: rotate(27deg);
    box-shadow: 0 2px 0 0 #55555580;
}

.body__left {
    position: absolute;
    left: -2.5vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 5vw 5vw;
    border-color: transparent transparent #eee transparent;
    transform: rotate(0deg);
}

.body__right {
    position: absolute;
    left: 2.5vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5vw 5vw 0;
    border-color: transparent transparent #ccc  transparent;
    transform: rotate(0deg);
}

.engine {
    position: absolute;
    left: -2.5vw;
    top: 3.5vw;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5vw 1.5vw 5vw;
    border-color: transparent transparent #f96d78 transparent;
    transform: rotate(0deg);
    box-shadow: 0 2px 0 0 #f96d7951;
}