@import url('components/enemy-jet/enemy-jet.css');
@import url('components/enemy-laser/enemy-laser.css');
@import url('components/enemy-attacks/enemy-attack.css');
@import url('components/user-jet/user-jet.css');
@import url('components/user-laser/user-laser.css');
@import url('background/background.css');
@import url('components/boss/boss.css');
@import url('components/explosion/explosion.css');
@import url('components/controls/controls.css');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}